@tailwind utilities;

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.hero {
  font-family: "Bebas Neue", cursive;
  background: linear-gradient(120deg, #ff0000 0%, #2400ff 100%),
    linear-gradient(120deg, #fa00ff 0%, #208200 100%),
    linear-gradient(130deg, #00f0ff 0%, #000000 100%),
    radial-gradient(110% 140% at 15% 90%, #ffffff 0%, #1700a4 100%),
    radial-gradient(100% 100% at 50% 0%, #ad00ff 0%, #00ffe0 100%),
    radial-gradient(100% 100% at 50% 0%, #00ffe0 0%, #7300a9 80%),
    linear-gradient(30deg, #7ca304 0%, #2200aa 100%);
  background-blend-mode: overlay, color, overlay, difference, color-dodge,
    difference, normal;
}
